@import url('./fonts/style.css');
@import url('./variables.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./providing.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Neue Machina', sans-serif;
}

body {
	background: #EEEDEB;
}

button {
	cursor: pointer;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.vertical-line {
	display: inline-block;
	height: 41px;
	width: 1px;
	background-color: var(--black-80);
}

.half-blood {
	height: 20px;
	position: relative;
}

.half-blood > .content {
	position: absolute;
	top: -105px;
}

main {
	height: 100vh;
}

.container-nav-bg {
	background-color: black;
}

.navbar a {
	color: white;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}

.navbar a:hover, a:focus, a:active {
	color: #F5F5F5;
}

.login a {
	color: #72FDF5;
}

.djinni a {
	font-family: 'PP Neue Machina';
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 46px;
	letter-spacing: 0.035em;
	color: #72FDF5;
}

.most-wanted {
	text-align: left;
	font-weight: 400;
	font-size: 24px;
	line-height: 154%;
	letter-spacing: 0.03em;
	color: #F5F5F5;
}

.most-wanted a {
	padding: 4px 12px;
	background: rgba(255, 255, 255, 0.87);
	border-radius: 32px;
	text-decoration: none;
	color: black;
}

.most-wanted-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	gap: 20px;
}

.most-wanted-grid .item1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.most-wanted-grid .item2 {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.most-wanted-grid .item3 {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

.most-wanted-grid .item4 {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.most-wanted-grid .item5 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.most-wanted-grid .item6 {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

.floating-cards-grid img {
	width: 40%;
}

.floating-cards-grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	gap: 10px;
}

.floating-cards-grid .item1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.floating-cards-grid .item2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.floating-cards h2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 54px;
	letter-spacing: 0.06em;
}

.floating-cards p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: -0.035em;
}

.floating-cards {
	margin-top: -50px;
}

.floating-cards .card-body {
	padding: 74px 35px;
}

.hero {
	padding-bottom: 200px;
}

.providing .content h2 {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 61px;
	letter-spacing: 0.06em;
}

.providing .content p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 68px;
}

.providing .content a {
	padding: 16px 24px;
	background: #000000;
	border-radius: 100px;
	text-decoration: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.055em;
	color: #72FDF5;
}

.providing {
	margin-top: 140px;
}

.grow-grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	gap: 20px;
	height: 400px;
}

.grow-grid .item1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.grow-grid .item2 {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.grow-grid .item2 img {
	width: 100%;
	height: 50%;
	object-fit: contain;
}

.grow-grid h2 {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 61px;
	letter-spacing: 0.05em;
}

.grow-grid p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 35px;
	letter-spacing: 0.06em;
	color: rgba(0, 0, 0, 0.5);
	margin-bottom: 60px;
}

.grow-grid a {
	text-decoration: none;
	padding: 16px 24px;
	background: #000000;
	border-radius: 100px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.055em;
	color: #72FDF5;
}

.footer-grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto;
	gap: 20px;
	padding: 20px 0;
}

.footer-grid-container .item1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.footer-grid-container .item2 {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.footer-grid-container .item3 {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

.footer-grid-container .item4 {
	grid-column: 4 / 5;
	grid-row: 1 / 2;
}

.footer-grid-container .item1 a {
	text-decoration: none;
	font-family: 'PP Neue Machina';
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 46px;
	letter-spacing: 0.035em;
	color: #72FDF5;
}

.footer-bg {
	background-color: #000000;
}

.footer-grid-container .item2 a, .item3 a, .item4 a {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16.8235px;
	line-height: 25px;
	color: rgba(255, 255, 255, 0.67);
	text-decoration: none;
}

.footer-grid-container p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 21.0293px;
	line-height: 29px;
	color: rgba(255, 255, 255, 0.89);
}

.footer-grid-container .item4 .btn-contact a {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #72FDF5;
	background-color: #000000;
	border-radius: 100px;
	border: 1px solid #72FDF5;
	padding: 8px 12px;
}
